.card{
    display: flex;
    flex-flow: row wrap;
    margin: 5px;
    height: 250px;
    border-radius: 10%;
    background-color: #253031;
    /* align-items: stretch; */
    border: 1px solid white
  }