.header {
    background-color: #00141E;
    display: flex;
    /* min-height: 100vh; */
    height: 49px;
    /* display: flex; */ 
    /* flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin); */
    
}