.App {
  text-align: center;
  background-color: #253031;
  height: 1000px;
  display: grid;
  grid-template-areas:
  "logo header"
  "nav content";

  grid-template-rows: 49px 1fr;
  grid-template-columns: 190px 1fr;
  
}

.app-header{
  grid-area: header;
}

.nav{
  grid-area: nav;
}

.content{
  grid-area: content;
}






